@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


@media screen and (max-width: 480px) {
    header {
        width: 371px;
        height: 30px;
    }
    
}

@media screen and (max-width: 480px) {
    img#logopequeno{
    
        margin-top: 10px;
        margin-right: 80px;
        margin-bottom: 10px;
        margin-left: 20px;
        vertical-align: middle;   
        width: 15px;
        height: 15px;
        display: none;
        
    }
    
}

@media screen and (max-width: 480px) {
    nav{
    display: inline-block;
    
    
}
*{
    padding: 0px;
    margin: 0px;
}





#chec[type="checkbox"]
{
    display: none;
}

.linkmenu{
    text-decoration: none;
    color: #000000;
    
}


#chec[type="checkbox"]:checked ~ #navcel
{
    transform: translateX(350px);
}

#liststyle{
    list-style: none;
    
    position: absolute;
    top: 10px;
    width: 100%;
}

.linkmenu{
    display: block;
    padding: 20px 5px;
    color: #ffffff;
}

.linkmenu:hover{
    background-color: rgb(176,224,230);
    color: #000000;
}

#labelmenu{
    
    padding: 15px;
    position: relative;
    z-index: 1;
}




a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: black 0.1em 0.1em 0.2em;
    display: inline-flex;
    align-items: center;
    display: none;
    

  
}

}
@media screen and (max-width: 480px) {
    .button{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .arch{
    width: 356px;
    height: 245px;
    left: 0px;
    border-bottom-width: 3px;
    border-right-width: 0px;
    border-color: #000000;
    border-style: solid;
    position: relative;
    margin-bottom: 106px;
    }
}

@media screen and (max-width: 480px) {
.eu{
    position: absolute;
    width: 150px;
    height: 225px;
    left: 315px;
    top: 89px;
    border-bottom-width: 10px;
    border-color: #000000;
    border-style: solid;
    display: none;
  
    }
}

@media screen and (max-width: 480px) {
#box{
    position: relative;
    background: #3A4042;
    width: 260px;
    height: 150px;
    box-shadow: 5px 5px 0 #000000;
    bottom: 330px;
    left: 48px;
}
}

@media screen and (max-width: 480px) {
#nomebanner{
    position: absolute;
    width: 180px;
    height: 46.34px;
    bottom: 80px;
    left: 52px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #6B9BE3;
    text-shadow: 2px 2px 0px #000000;
    font-family: 'Press Start 2P', cursive;
    
}
}

@media screen and (max-width: 480px) {
#subbanner{
    position: absolute;
    width: 180px;
    height: 33.1px;
    bottom: 70px;
    left: 40px;
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 30px;
    color: #5A79CC;
    text-shadow: 2px 2px 0px #000000;
}
}

@media screen and (max-width: 480px) {
#botaobox1{
    
    background-color: #5D5FEF;
    width: 165px;
    height: 50px;
    position: absolute;
    top: 70px;
    left: 25px;
    box-shadow: 3px 3px 0 #000000;
    font-family: 'Press Start 2P', cursive;
    align-self: center;
    padding-left: 41px;
    
    
}
}

@media screen and (max-width: 480px) {
#botaobox2{
  display: none;
   
}
}


@media screen and (max-width: 480px) {
#skills{
    position: relative;
    background-color: #4C5B84;
    width: 356px;
    height: 245px;
    margin-top: -260px;
    border-bottom-width: 5px;
    border-color: #1D2F5F;
    border-style: solid;
    padding-bottom: 41px;

}
}

@media screen and (max-width: 480px) {

#titleskill{
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    top: 20px;
    left: 124px;
}
}

@media screen and (max-width: 480px) {

#logohtml{
    position: absolute;
    top: 90px;
    left: 50px;
    width: 25px;

}
}

@media screen and (max-width: 480px) {

#logocss{
    position: absolute;
    top: 135px;
    left: 50px;
    width: 25px;
}
}

@media screen and (max-width: 480px) {

#htmlbarra{
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    color: #ffffff;
    position: absolute;
    top: 84px;
    left: 84px;
    font-size: 9px;
}
}

@media screen and (max-width: 480px) {

#htmlprocess{
    position: absolute;
    top: 104px;
    left: 84px;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    width: 45px;

}

}

@media screen and (max-width: 480px) {
#cssbarra{
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 25px;
    color: #ffffff;
    position: absolute;
    top: 127px;
    left: 84px;
}
}


@media screen and (max-width: 480px) {

#cssprocess{
    position: absolute;
    top: 147px;
    left: 84px;
   border-width: 2px;
   border-color: #000000;
    border-style: solid;
    width: 45px;

}}


@media screen and (max-width: 480px) {
#javabarra{
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 25px;
    color: #ffffff;
    position: absolute;
    top: 172px;
    left: 84px;

}
}

@media screen and (max-width: 480px) {

#logojava{
    position: absolute;
    top: 180px;
    left: 235px;
    left: 50px;
    width: 25px;
}
}


@media screen and (max-width: 480px) {
#javaprocess{
    position: absolute;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    top: 193px;
    left: 84px;
    width: 45px;
}

}


@media screen and (max-width: 480px) {

#shellbarra{
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 25px;
    color: #ffffff;
    position: absolute;
    top: 84px;
    left: 220px;
}

}



@media screen and (max-width: 480px) {
#logoshell{
    position: absolute;
    top: 90px;
    left: 190px;
    width: 25px;
}}



@media screen and (max-width: 480px) {
#shellprocess{
    position: absolute;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    top: 104px;
    left: 220px;
    width: 45px;
}
}



@media screen and (max-width: 480px) {
#gitbarra{
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 25px;
    color: #ffffff;
    position: absolute;
    top: 220px;
    left: 84px;
}

}



@media screen and (max-width: 480px) {
#gitlogo{
    position: absolute;  
    top: 224px;
    left: 50px;
    width: 25px;
}
}


@media screen and (max-width: 480px) {
#gitprocess{
    position: absolute;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    top: 240px;
    left: 84px;
    width: 45px;
}
}



@media screen and (max-width: 480px) {
#archbarra{
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 25px;
    color: #ffffff;
    position: absolute;
    top: 127px;
    left: 220px;
}
}



@media screen and (max-width: 480px) {
#archlogo{
    position: absolute;
    top: 135px;
    left: 190px;
    width: 25px;
}
}



@media screen and (max-width: 480px) {
#archprocess{
    position: absolute;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    top: 147px;
    left: 220px;
    width: 45px;
}
}


@media screen and (max-width: 480px) {
#mariobarra{
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 25px;
    color: #ffffff;
    position: absolute;
    top: 172px;
    left: 220px;
}
}


@media screen and (max-width: 480px) {
#sneslogo{
    position: absolute;
    top: 180px;
    left: 173px;
    width: 60px;
    height: 30px;
}}


@media screen and (max-width: 480px) {

#marioprocess{
    position: absolute;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    top: 193px;
    left: 220px;
    width: 45px;
}
}


@media screen and (max-width: 480px) {
#motivbarra{
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 25px;
    color: #ffffff;
    position: absolute;
    top: 220px;
    left: 220px;
}
}


@media screen and (max-width: 480px) {
#coracaologo{
    position: absolute;
    top: 224px;
    left: 181px;
    width: 40px;
    height: 30px;

}
}


@media screen and (max-width: 480px) {
#motivprocess{
    position: absolute;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    top: 240px;
    left: 220px;
    width: 45px;
}
}



@media screen and (max-width: 480px) {
#projetoscarrosel{
    background-color: #000000;
    width: 356px;
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}
}


@media screen and (max-width: 480px) {
#projetostitle{
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    top: 50px;
    left: 100px; 
}
}

@media screen and (max-width: 480px) {
:root {
    --primary-color: rgb(113, 89, 193);
    --primary-light: rgb(216, 204, 255);
  }
}

  
 
@media screen and (max-width: 480px) { 
  #items-wrapper {
    width: 50vw;
  }
}

@media screen and (max-width: 480px) {

  #items {
    display: flex;
    overflow-x: auto;
  
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 480px) {
  #items::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .item {
    flex: none;
  
    width: 100%;
    height: 400px;
    padding: 2px;
  
    scroll-snap-align: center;
  
    pointer-events: none;
  }
}

@media screen and (max-width: 480px) {  
  .img {
    width: 100%;
    height: 100%;
  
    object-fit: cover;
  }
}

@media screen and (max-width: 480px) {
  #navigationButtons {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -39px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  #navigationButtons a {
    background: whitesmoke;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    cursor: pointer;
  
    padding: 9px;
    margin: 2px;
  
    width: 10px;
    height: 10px;
  
    font-size: 11px;
    color: var(--primary-color);
    text-decoration: none;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  #navigationButtons a.selectedItem {
    background: var(--primary-color);
    color: whitesmoke;
    border-color: whitesmoke;
    border-width: 1px;
  }}


  @media screen and (max-width: 480px) {
  #sobre{
    position: relative;
    background-color: #1F1F47;
    width: 356px;
    height: 460px;
    margin-top: -0px;
    border-bottom-width: 5px;
    border-color: #7C5E99;
    border-style: solid;
    padding-bottom: 41px;
}
  }

@media screen and (max-width: 480px) {
#titlesobre{
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    top: 20px;
    left: 138px;
}}


@media screen and (max-width: 480px) {
p{
    
    position: relative;
    color: #ffffff;
    font-weight: 300;
    font-size: 9px;
    
    top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
}

@media screen and (max-width: 480px) {
#mario{
    position: relative;
    top: 8px;
    left: 70px;
    ;
}
}


@media screen and (max-width: 480px) {
#contato{
    position: relative;
    background-color: #828282;
    width: 356px;
    height: 600px;
    margin-top: -0px;    
    padding-bottom: 178px;
    text-align: center;
}
}


@media screen and (max-width: 480px) {
#contatotitle{
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    color: #1D2F5F;
    font-family: 'Press Start 2P', cursive;
    top: 50px;
    left: 78px;
}}


@media screen and (max-width: 480px) {
#formulario{
     align-items: center;
     min-height: 120vh;
     display: flex;
     justify-content: center;
     flex-direction: column;
     font-family: 'Press Start 2P', cursive;
     font-weight: 300;
     font-size: 15px;
     line-height: 39.36px;
     padding-right: 1rem;
     padding-left: 1rem;
    
      
}}


@media screen and (max-width: 480px) {
.form{
    display: block;
    width: 70%;
    color: #101e44;
       
    
}
}

@media screen and (max-width: 480px) {
.form input,
textarea{
    padding: 0.8rem;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
}}


@media screen and (max-width: 480px) {
.form textarea{
    min-height: 13rem;
    resize: vertical;

}}


@media screen and (max-width: 480px) {
.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
}}


@media screen and (max-width: 480px) {
#name{
    padding: 0.8rem;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
}
}

@media screen and (max-width: 480px) {
#mail{
    padding: 0.8rem;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
}
}

@media screen and (max-width: 480px) {
#button {
    display: block;
    padding: 1rem;
    background: #5D5FEF;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}}

@media screen and (max-width: 480px) {
#button:hover {
    outline: none;
}}


footer{
    background-color: #1D2F5F;
    height: 60px;
    position: relative;
    width: 356px;
}

#fcb{
    position: absolute;
    left: 145px;
    top: 8px;
}

#whats{
    display: none;
}

#celular{
    display: none;
}

#celinput{
    display: none;
}

#cellabel{
    display: none;
}

