@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.linkmenu{
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    color: #000000;
    display: inline-block;
    background-color: rgba(235, 252, 0, 0.911);
    display: block;
    padding: 2px;
    
    
    
    
}
.linkmenu:hover{
    background-color: #da265c;
    color: #ffffff;
}


body{
    background-color: #282828;
    font-family: 'Press Start 2P', cursive;
   
    max-height:100% !important;
    overflow:hidden;
}

#sendmail{
    background-color: #282828;
}



#botaomenu{
    width: 80px;
    top: 80px;
    position: absolute;
    
    
  
    
}

input[type="checkbox"]{
    display: none;
}

nav{
   
    width: 225px;
    height: 20px;
    position: absolute;
    left: 390px;
    transition: all .5s;
    top: 100px;
    
   
    
}

input[type="checkbox"]:checked ~ nav
{
    transform: translateY(350px);
    height: 300px;
}

#home{
    padding: 2px;
    position: relative;
      
}


#skills{
    padding: 2px;
    position: relative;
 
    
}

#projetos{
    padding: 2px;
    position: relative;
 
   
}

#quem{
    padding: 2px;
    position: relative;
  
    
}

#contatos{
    padding: 2px;
    position: relative;
}


ul{
    list-style: none;
    position: absolute;
    width: 70%;
    right: 380px;
    top: -368px;
   
    height: 0px;
  
    
    
    
}

label{
   
    
    position: absolute;
}


